.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 90%;
  transform: translate(-50%, -50%) scale(1);
  padding: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
    width: 459px;
    height: 609px;
    padding: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    cursor: pointer;
  }
}

.modal-close-button:hover .close-icon,
.modal-close-button:focus .close-icon {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-bottom: 12px;
  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.modal-label {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  @media screen and (min-width: 480px) {
    font-size: 12px;
  }
}

.modal-input {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-wrapper:focus-within & {
    border: 1px solid var(--accent-color);
  }
  @media screen and (min-width: 480px) {
    height: 40px;
  }
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.icon-wrapper {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(50%, -50%);
  fill: var(--header-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-wrapper:focus-within & {
    fill: var(--accent-color);
  }
}
.textarea-wrapper {
  margin-bottom: 20px;
}
.modal-textarea {
  width: 100%;
  height: 90px;
  overflow: auto;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  .modal-wrapper:focus-within & {
    border: 1px solid var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 480px) {
    height: 120px;
  }
}

.modal-link {
  color: var(--accent-color);
}

.modal-button {
  display: flex;
  padding: 10px 55px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    outline: transparent;
  }
}
.no-scroll {
  overflow: hidden;
}
