body {
  font-family: Roboto, sans-serif;
  color: #757575;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
