.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.studio-header {
  color: #000000;
}

.header-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-connect {
  margin-left: auto;
}

.header-contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    font-size: 14px;
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-list {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  .link.current {
    color: var(--accent-color);
  }
}

.contacts-icon {
  margin-right: 8px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.icon-envelope {
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.icon-smartphone {
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}
