.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.studio-header {
  color: #000000;
}

.header-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-link {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:last-child) {
    margin-right: 50px;
    margin-left: auto;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-list {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  .link.current {
    color: var(--accent-color);
  }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
