.projects-button {
  display: inline-flex;
  padding: 6px 22px;
  border: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
.projects-button-item:not(:last-child) {
  margin-right: 8px;
}

.projects-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.projects-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
  margin-bottom: 4px;
}
.projects-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects-item {
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projects-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.projects-about {
  position: relative;
  overflow: hidden;
}
.projects-description {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .projects-item:hover & {
    transform: translateY(0);
  }
}
